name: Release

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: true

jobs:
  changelog:
    name: PR or Release
    if: ${{ github.repository_owner == 'ensdomains' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
      - name: Enable corepack
        run: corepack enable pnpm

      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: 22

      # Ensure latest npm with OIDC support (npm 11.5.1+)
      - name: Ensure modern npm (OIDC support)
        shell: bash
        run: npm install -g npm@11.6

      - name: Install dependencies
        run: pnpm install

      - name: Build Packages
        run: pnpm -r build

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          # Note: pnpm install after versioning is necessary to refresh lockfile
          version: pnpm chgset:version
          publish: pnpm publish -r --access public && changeset tag
          commit: "chore: release"
          title: "[ci] release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
